<br>
<br/>
<br/>
<
<div class="text-center">
<h2>
    <%= @actor.f_name %>
    <%= @actor.l_name %>
</h2>
<strong>MOVIES LIST:</strong>
<%= render @actor.movies %>
<br>

<%if current_user && current_user.admin?%>
  <%= link_to "Delete", actor_path(@actor),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class:"btn btn-danger btn-lg"%>
<% end %>

<%= link_to "Back", actors_path, class:"btn btn-dark btn-lg" %>