<%= form_with model: [ @movie, @movie.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter, value:current_user.email, readonly:true %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit class:"btn btn-secondary btn-lg"%>
  </p>
<% end %>