<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'IMDB', root_path, class:"navbar-brand" %>

    <!-- <a class="navbar-brand" href="/">IMDB</a> -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="/movies" id="navbarDropdownMenuLink" aria-current="page" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movies
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/movies/new">Add New Movie</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
          </ul>
        </li>
        
          <!-- <a class="nav-link" aria-current="page" href="/movies">Home</a> -->

        <li class="nav-item">
          <%= link_to "Actors", actors_path, class:"nav-link"%>
          <!-- <a class="nav-link" href="/actors">Actors</a> -->
        </li>
        
        <li class="nav-item">
          <%= link_to "Directors", directors_path, class:"nav-link"%>
          <!-- <a class="nav-link" href="/directors">Directors</a> -->
        </li>
        
        <% if user_signed_in? %>

          <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link"%>
          </li>

          <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link"%>
          </li>
        <% else %>

          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class:"nav-link"%>
          </li>

          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class:"nav-link"%>
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>



<style type="text/css">
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
  }  
</style>